<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p>Peace of mind from prototype to production</p>
</section>
  <li><%= link "Get started as Logistics", to: Routes.logistic_dashboard_path(@conn, :index) %></li>
  <li><%= link "Get started as farmer", to: Routes.farmer_dashboard_path(@conn, :index) %></li>
